@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: url('../home/background-home-desktop.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Space Mono', monospace;
}

.grid{
    display: grid;
    grid-template-columns: 50% 20%;
}
.flex{
    display:flex;
}
.container{
    justify-content: space-between;
    position: relative;
}

.contains_ul{
    display: grid;
    grid-template-columns:5fr 1fr;
    gap:100px;
}

a{
    text-decoration: none;
    color: #fff;
}

ul li{
    list-style: none;
}


.active{
    border-bottom:2px solid #fff;
    padding-bottom: 33px;
}
/*Navbar line*/
.line{
    display: flex;
    align-self: flex-start;
    width: 30%;
    height: 1%;
    background-color: #333;
    position: absolute;
    top: 55px;
    left: 150px;
    z-index: 100;
}

#btn-open{
    display: none;
}

/*Navbar*/
.navbar{
    width: 900px;
    height: 80px;
    padding: 16px;
    backdrop-filter: blur(50px);
    overflow: visible;
    position: relative;
    top: 20px;
    font-size: 13px;
}

.mobile_menu,
#btn-open,
#btn-close,
.mobile_menu ul,
.mobile_menu ul li{
  display: none; 
}

.container .navbar li:nth-child(1){
    padding-left:50px;
}
.container .navbar li:hover{
    cursor: pointer;
    font-weight: bolder;
}

.container  img{
    padding: 30px 0px;
    margin-left: 50px;
    height: 100%;
}

.container .navbar ul{
 display: flex;
 
}

.container .navbar li{
  padding: 10px 0px ;
  margin-left: 70px;
  margin-right: 30px;
}

.container .navbar li:nth-child(1){
    z-index: 1;
}

.container .navbar ul:hover{
    cursor: pointer;
    font-weight: 300px;
}

/*Main Area*/
.main-area{
    color:#fff;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 150px;
    left:10px;  
}

.main-area .container .header{
    color:#bbb;
    font-size: 15px;
   
}

.main-area .container .title-paragraph{
    color:#bbb;
    font-size: 15px;
    width: 500px;
}

.main-area .container .Title-strong{
    font-size: 130px;
    width: 300px;
    margin-bottom: 30px;
}

.container-btn, .container-btn a, .container-btn h2{
    background-color: #f4f4f4;
    width: 200px;
    color: #333;
    height: 200px;
    text-align: center;
    border-radius:50%;
    display: flex;
    justify-content:center;
    align-items: center;
}
.container-btn:hover{
    cursor: pointer;
}
.container-btn:active{
    transform: scale(0.95);
}

.container-btn h2{
    margin-bottom: 10px;
}

/*Tablets and under*/
@media(max-width:768px){
   body{
       background: url('/home/background-home-tablet.jpg')no-repeat center center fixed;
       background-size: cover;;
   }
   .grid{
    display:table-row;
   }
    .active{
        border-bottom:2px solid #fff;
    }
    .container{
        position: relative;
    }
     /*Navbar line*/
   .line{
    width: 28%;
    height: 1px;
    background-color: #333;
    position: absolute;
    top: 55px;
    left: 100px;
    z-index: 1;
    overflow: hidden;
    }

/*Navbar*/
.navbar{
    width: 450px;
    height: 80px;
    background-color:rgba(0,0,0,0.5);
    overflow: visible;
    position: relative;
    font-size: 10px;
}

.mobile_menu{
    display: none;
}
.container .navbar li:nth-child(1){
    padding-left:10px;
}
.container .navbar li:hover{
    cursor: pointer;
    font-weight: bolder;
}

.container  img{
    padding: 30px 0px;
    margin-left: 10px;
    height: 100%;
}

.container .navbar ul{
  display:flex;
}

.container .navbar li{
    padding: 10px 0px ;
    margin-left: 20px;
    margin-right: 10px;
  }
.container .navbar ul:hover{
    cursor: pointer;
    font-weight: 300px;
}

/*Main Area*/
.main-area{
    color:#fff;
    display: block;
    margin-top: -60px;
}

.main-area .container .header{
    color:#bbb;
    font-size: 10px;
    margin-left:0%;
    text-align: center;
}

.main-area .container .title-paragraph{
    color:#bbb;
    font-size: 10px;
    margin-left:0%;
    text-align: center;
}

.main-area .container .Title-strong{
    font-size: 80px;
    width: 500px;
    margin-bottom: 0px;
    margin-left:20;
    letter-spacing:20px;
    text-align: center;
}

.container-btn{
    background-color: #f4f4f4;
    width: 200px;
    color: #333;
    height: 200px;
    text-align: center;
    border-radius:50%;
    justify-content:center;
    align-items: center;
    position: absolute;
    left: 36%;
    top:115%;
}


.containing{
    display: grid;
    justify-content: center;
    align-items: center;
}

}

/*=========================*/
/*Mobile*/
@media(max-width:500px){
    body{
        background: url('/home/background-home-mobile.jpg') no-repeat center center fixed;
        background-size: cover;
    }
    .current{
        animation-name: current;
        animation-duration:0.9s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    .line{
        display: none;
    }
   /*Main Area*/
.main-area{
    color:#fff;
    margin-top: -50px;
}

.main-area .container .header{
    color:#bbb;
    font-size: 10px;
    margin-left:0;
    text-align: center;
}

.main-area .container .title-paragraph{
    color:#bbb;
    font-size: 10px;
    margin-left:20%;
    text-align: center;
    width: 60%;
}

.main-area .container .Title-strong{
    font-size: 80px;
    width: 500px;
    margin-bottom: 0px;
    margin-left:20;
    letter-spacing:20px;
    text-align: center;
}

.container-btn{
    background-color: #f4f4f4;
    width: 120px;
    color: #333;
    height: 120px;
    text-align: center;
    border-radius:50%;
    justify-content:center;
    align-items: center;
    position: absolute;
    left: 170px;
    top:150%;
}

.container{
    display: flex;
    width: 100%;
}

.containing{
    text-align: center;
}
   
.navbar{
    display: none;
}

.mobile_menu{
    display: block;
    z-index: 1;
    height: 100vh;
    width: 100vh;
    transition: 0.5s;
    background-color: rgba(0,0,0,0.6);
    position:absolute;
    padding:30px;
    left: 100px;
    display: none;
    backdrop-filter: blur(10px);
    animation-name: mobileMenu;
    animation-duration: 0.5s;
    animation-timing-function: ease;
}

#btn-open{
    display: block;
    width: 15%;
    position: relative;
    top:10px;
    width:40px;
    color:#fff;
}

#btn-close{
    display: block;
}


#btn-open:hover,#btn-close:hover{
    cursor: pointer;
}
.mobile_menu ul{
    margin-top:70px;
    display: block;
}

.mobile_menu ul li{
    display: block;
    width: 50%;
    font-size: 15px;
    margin-bottom: 20px;
    padding: 20px 0px 20px 70px;
    background-color:#111;
    margin-right: 10px;
    margin-left: -10px;
}
.mobile_menu ul li:hover{
    font-weight: bold;
    transition: 0.3s;
}

@keyframes mobileMenu {
    0%{
        opacity: 0%;
        left:400px;
    }
    100%{
        opacity: 1;
    }
}
@keyframes current {
    0%{
       box-shadow: 0px 0px 2px rgb(72, 105, 196);
        
    }
    100%{
        box-shadow: 0px 0px 8px rgb(72, 105, 196);
    }
  }
 
}